
.img{
  
 background-color: black;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ),url('/background.jpg');
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
 background-position: center;
 background-repeat: repeat-x;

}

.box1{
  position: relative;

text-align: center;

}

.font1 {
  font-size: 110px;
  color: white;
  position: absolute;
  top: 40%;
  left: 35%;
  
}
.vl {
  border-left: 1px solid white;
  height: 90%;
  
  right: 88%;
  position: absolute;
}
.slider{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
